/* Message */
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.dialog {
    color: brown;
    margin-bottom: 5px;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.avatar {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialog_active {
    background-color: gold;
    border: 1px solid black;
}


/* Message */
.messagesContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.messagesBody {
    background-color: white;
    padding: 30px;
    flex: 1 1 auto;
}

.message {
    padding: 5px;
}

.message span {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: greenyellow;
}

.isMy {
    text-align: right;
}

.isMy span {
    background-color: skyblue;
}

.formContainer {
    background-color: skyblue;
    height: 100px;
    border-top: 1px solid black;
}

.formContainer textarea {
    width: 80%;
}